@import 'normalize.css';
// @import 'styles.css';

h1{
    color: rgb(52, 107, 196);
}

.Arcus {
    font-family: sans-serif;
    text-align: center;
    position: relative; 
    height:40vh; 
    width:100vw;
}